@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    margin-top: -16px;
}

a {
    color: #52d789;
}

.nav {
    background-color: #258d14;
    color: #fffdf9;
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: top 0.3s;
}

.nav-brand {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 50px;
}

.nav-title {
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
    width: 305px;
    word-wrap: break-word;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.nav-menu {
    padding-top: 100px;
    padding-bottom: 10px;
    margin-left: 100px;
}

.nav-link {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-link a {
    text-decoration: none;
    color: #fff;
}

.active a {
    background-color: #fffdf9;
    color: #414141;
    padding: 10px 15px;
    border-radius: 100px;
}

.nav-linka a {
    background-color: #52d789;
    color: #414141;
    padding: 10px 15px;
    border-radius: 100px;
    text-decoration: none;
}

.scroll {
    margin-right: 1em;
    margin-left: 1em;
    grid-area: s;
    margin: 0;
    background-color: #414141;
}

.scroll h1 {
    font-family: 'Merriweather', sans-serif;
    color: #52d789;
    font-size: 40px;
    text-decoration: none;
}

.scroll h2 {
    font-family: 'Merriweather', sans-serif;
    color: #52d789;
    font-size: 35px;
    text-decoration: none;
}

.scroll h3 {
    font-family: 'Merriweather', sans-serif;
    color: #52d789;
    font-size: 28px;
    text-decoration: none;
}

.welcome {
    position: relative;
    overflow-y: scroll;
    top: 150px;
}

.welcome form {
    border: none;
}

input[type=text], input[type=number], input[type=password], input[type=email], input[type=tel], input[type=date], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Set a style for all buttons */
button {
    background-color: #258d14;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

  /* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 5px;
}

  /* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

img.avatar1 {
    width: 80%;
    border-radius: 5px;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000000000000000; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    color: black;
}

  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

  /* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.membership-title {
    text-align: center;
}

.footer {
    position: relative;
    overflow-y: scroll;
    top: -100px;
    background-color: #414141;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: 0em;
    margin-right: 0em;
}

.copyright {
    background-color: #414141;
    color: white;
    float: right;
}

.menu {
    display: block;
    position: absolute;
    margin: 0px;
    text-align: center;
}
.menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.menu li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: #414141;
/*  margin-right: -4px;*/
    width: 96px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.menu .sub-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.menu li:hover .sub-menu {
    max-height: 300px;
    visibility: visible;
    bottom: 100%;
    transition: all 0.4s linear;
}
.menu .sub-menu {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
}

.sub-menu li a {
    background-color: #414141;
    margin-left: 0;
    padding: 0;
    width: 400px;
}

.menu .sub-menu li {
    display: block;
    width: 150px;
    text-align: center;
}
#mainBtn{
    background-color: #414141;
    color: #fff;
    width: 80px;
    height: 40px;
    line-height: 40px;
}

.media-container {
    margin-top: 100px;
    text-align: center;
}

.media-container i {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    body {
        font-size: 13px;
        background-color: #414141;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-left: -250px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        background-color: #414141;
        margin-left: -500px;
        margin-right: 100px;
    }

    .nav-links li {
        padding: 5px;
    }

    .welcome {
        top: 300px;
    }

    .scroll h2 {
        font-size: 20px;
        text-align: left;
    }

    .scroll h3 {
        font-size: 17px;
    }

    .footer {
        text-align: center;
        top: 300px;
    }

    .contact h1 {
        margin-left: 0px;
    }
    
    .contact .media-container {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    body {
        font-size: 13px;
        background-color: #414141;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-left: -200px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        background-color: #414141;
        margin-left: -300px;
        margin-right: 100px;
    }

    .nav-links li {
        padding: 5px;
    }

    .scroll h2 {
        font-size: 20px;
        text-align: left;
    }

    .scroll h3 {
        font-size: 17px;
    }

    .welcome {
        top: 250px;
        bottom: 100px;
    }

    .footer {
        text-align: center;
        top: 170px;
    }

    .contact h1 {
        margin-left: 0px;
    }
    
    .contact .media-container {
        display: none;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    body {
        font-size: 14px;
        background-color: #414141;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-left: -50px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        background-color: #414141;
        margin-left: -300px;
    }

    .nav-links li {
        padding: 10px;
        border-top: 1px solid #fff;
    }

    .scroll h2 {
        font-size: 20px;
        text-align: left;
    }

    .scroll h3 {
        font-size: 17px;
    }

    .welcome {
        top: 250px;
    }

    .footer {
        text-align: center;
        top: 200px;
    }

    .contact h1 {
        margin-left: 0px;
    }
    
    .contact .media-container {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 15px;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-left: 250px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        background-color: #414141;
        margin-left: -300px;
    }

    .nav-links li {
        padding: 10px;
        border-top: 1px solid #fff;
    }

    .scroll h2 {
        font-size: 20px;
        text-align: left;
    }

    .scroll h3 {
        font-size: 17px;
    }

    .welcome {
        top: 200px;
    }

    .footer {
        text-align: center;
        top: 100px;
    }

    .contact h1 {
        margin-left: 0px;
    }
    
    .contact .media-container {
        display: none;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    body {
        background-color: #414141;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .menu-icon {
        display: block;
        margin-left: 550px;
        margin-top: -20px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        color: #fff;
        background-color: #414141;
        margin-left: -300px;
    }

    .nav-links li {
        padding: 10px;
        border-top: 1px solid #fff;
    }

    .scroll {
        margin-right: 1em;
        margin-left: 1em;
        grid-area: s;
        margin: 0;
    }

    .nav-menu {
        margin-left: 0px;
    }

    .welcome {
        top: 200px;
    }

    .footer {
        top: 50px;
    }

    .contact h1 {
        margin-left: 0px;
    }
    
    .contact .media-container {
        display: none;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1648px) {
    body {
        background-color: #414141;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
        color: #fff;
        margin-left: -50px;
    }

    .scroll {
        margin-right: 1em;
        margin-left: 1em;
        grid-area: s;
        margin: 0;
    }

    .nav-menu {
        margin-left: 0px;
    }

    .welcome {
        top: 200px;
    }

    .footer {
        top: 50px;
    }

    .contact h1 {
        margin-left: 0px;
    }
    
    .contact .media-container {
        display: none;
    }
}

@media only screen and (min-width: 2560px) {
    body {
        background-color: #414141;
        font-size: 25px;
    }

    .nav-menu {
        margin-top: 40px;
        margin-left: 300px;
    }

    .welcome {
        top: 300px;
    }

    ::placeholder {
        font-size: 25px;
    }

    input[type=text], input[type=number], input[type=password], input[type=email], input[type=tel], input[type=date], textarea {
        padding: 25px;
    }

    button {
        background-color: #258d14;
        color: #fff;
        padding: 20px 26px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        font-size: 25px;
    }
}